@font-face {
  font-family: 'Golos-Regular';
  src: url('./Fonts/Golos_UI_Regular/Golos_UI_Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Golos-Bold';
  src: url('./Fonts/Golos_UI_Bold/Golos_UI_Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Square-Bold';
  background: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.text-center {
  font-family: 'Square-Bold';
  /* src: url('/Square-Bold/Square-Bold.otf') format('woff'); */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.typography-center {
  font-family: 'Square-Bold';
  src: url('/Square-Bold/Square-Bold.otf') format('woff');
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justifyContent-center {
  justify-content: center;
}

.c-footerText {
  color: #fff;
  margin-top: 100px !important;
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26282fcc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.MuiButton-containedPrimary.Mui-disabled {
  color: #ffffff70 !important;
  background-color: #601D10 !important;
}

@media screen and (max-width: 899.98px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .about-collapse .MuiAccordionSummary-root {
    padding: 20px !important;
    justify-content: flex-end;
  }

  .about-collapse .MuiAccordionSummary-content {
    width: calc(100% - 50px);
    flex: none;
  }

  .about-collapse .MuiAccordionSummary-content .MuiTypography-root {
    font-size: 14px;
  }

  .about-collapse .MuiAccordionDetails-root {
    padding: 0 20px 20px;
  }

  .about-collapse .MuiAccordionDetails-root .MuiTypography-root {
    font-size: 14px;
  }

  .about-collapse .MuiAccordionSummary-expandIconWrapper {
    right: 20px;
  }

  .c-footerText {
    margin-top: 50px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
}

@media screen and (min-width: 993px) {
  .innerPage {
    /* grid-area: 2 / 2 / 6 / 6;
      margin: 0.5rem 1rem; */
    margin: 1.5rem 5rem;
  }
}

@media screen and (max-width: 992px) {
  .innerPage {
    /* grid-area: 2 / 2 / 6 / 6;
      margin: 0.5rem 1rem; */
    margin: 1.5rem 5rem;
  }
}

.innerPage {
  background: #121311c7;
  border: 6px solid #4d5d83bf;
  border-radius: 24px;
}

.inPageContainer {
  height: 550px;
}

.listScroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gridScroll {
  width: 100%;
  height: 99%;
  overflow: auto;
  padding-right: 15px;
}

.gridScroll::-webkit-scrollbar {
  display: none;
}

.cosmic {
  border: 1px solid gray !important;
  background-color: #3c3b3b !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 13px 70px !important;
  min-width: 308px !important;
  font-family: 'Square-Bold';
  src: url('/Square-Bold/Square-Bold.otf') format('woff');
  font-style: normal;
  font-weight: 400;
}

.text-center {
  text-align: center !important;
}

.staked {
  position: absolute;
  transform: rotate(315deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1effa9;
}

.staked h1 {
  border: 2px solid #1effa9;
  border-radius: 7px;
  padding: 0.5rem 2rem;
  margin-left: -2rem;
  margin-top: 4rem;
}

.selected {
  color: #1effa9;
}

@media screen and (min-width:1650px) {
  .nftBox {
    width: 12.33%;
    transition: 0.6s ease-in-out !important;
  }
}

@media screen and (min-width:1400px),
(min-width:1650px) {
  .nftBox {
    width: 26.33%;
    transition: 0.6s ease-in-out !important;
  }
}

@media screen and (max-width:1399px),
(min-width:1100px) {
  .nftBox {
    width: 35.33%;
    transition: 0.6s ease-in-out !important;
  }
}

@media screen and (max-width:1099px),
(min-width:699px) {
  .nftBox {
    width: 48.33%;
    transition: 0.6s ease-in-out !important;
  }
}

@media screen and (max-width:698px) {
  .nftBox {
    width: 65.33%;
    transition: 0.6s ease-in-out !important;
  }
}

.nftStakedBox {
  position: relative;
  /* margin: 0.5rem ; */
  margin: auto;
  max-width: 185px;
  max-height: 185px;
}

.nftUnstakedBox {
  margin: auto;
  width: 125px;
  height: 200px;
  border: 1px solid #474747;
  border-radius: 6px;
}

.nftUnstakedBox img {
  width: 100%;
  height: 7vw;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.nftStakedBox img {
  width: 185px;
  height: 185px;
  object-fit: cover;
  border-radius: 8.14545px;
}

.nftUnstakedBox h4 {
  margin: 1rem 0 1rem .5rem;
}

.nftStakedBox:hover {
  transform: scale(1.05);
}

.nftStakedAnim {
  width: 125px;
  height: 200px;
  border: 1px solid #474747;
  border-radius: 6px;
  transform: scale(1.05);
}

.nftStakedAnim img {
  width: 100%;
  height: 7vw;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.nftBoxText {
  display: flex;
}

.nftBoxText button {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 7px;
  background: none;
  width: 50%;
  border: 1px solid #7fbcad;
  color: rgb(221, 31, 255);
  font-weight: 700;
  cursor: pointer;
}

.wallet-adapter-button-trigger {
  background-color: transparent !important;
}

.wallet-adapter-button {
  font-family: 'Golos-Regular' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #26891E !important;
  padding: 0 12px !important;
}

@keyframes k-loading-animation  {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.k-i-loading.k-example-loading {
  font-size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(144,152,165);
}

.k-i-loading.k-example-loading::before,
.k-i-loading.k-example-loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  content: "";
  box-sizing: inherit;
  border-radius: 50%;
  border-width: .05em;
  border-style: solid;
  border-color: currentColor;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
}
.k-icon.k-i-loading.k-example-loading::before,
.k-icon.k-i-loading::after {
  content: "";
}

.k-i-loading.k-example-loading::before {
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  animation: k-loading-animation .7s linear infinite;
}

.k-i-loading.k-example-loading::after {
  margin-top: -0.25em;
  margin-left: -0.25em;
  width: .5em;
  height: .5em;
  animation: k-loading-animation reverse 1.4s linear infinite;
}

.example-wrapper {
  min-height: 280px;
  align-content: flex-start;
}
.example-wrapper p, .example-col p {
  margin: 20px 0 10px;
}
.example-wrapper p:first-child, .example-col p:first-child {
  margin-top: 0;
}
.example-col {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 20px;
}
.example-config {
  margin: 0 0 20px;
  padding: 20px;
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.08);
}
.event-log {
  margin: 0;
  padding: 0;
  max-height: 100px;
  overflow-y: auto;
  list-style-type: none;
  border: 1px solid rgba(0,0,0,.08);
  background-color: white;
}
.event-log li {
  margin: 0;
  padding: .3em;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0,0,0,.08);
}
.event-log li:last-child {
  margin-bottom: -1px;
}